:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #fff;
}

img {
  border-radius: 4px;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  position: fixed;
  top: 0;
  right: calc(-1 * var(--aside-width));
  min-width: var(--aside-width);
  max-width: var(--aside-width);
  height: 100vh;
  background: var(--color-light);
  box-shadow: 0 0 50px rgb(0 0 0 / 30%);
  transition: transform 200ms ease-in-out;
}

aside header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 20px;
  border-bottom: 1px solid var(--color-dark);
}

aside header h3 {
  margin: 0;
}

aside header .close {
  width: 20px;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.8;
  transition: all 200ms;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-top: 0;
  margin-bottom: 0.6rem;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  pointer-events: none;
  visibility: hidden;
  background: rgb(0 0 0 / 20%);
  opacity: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
}

.overlay .close-outside {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--aside-width));
  height: 100%;
  color: transparent;
  background: transparent;
  border: none;
}

.overlay .light {
  background: rgb(255 255 255 / 50%);
}

.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

.overlay.expanded {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

/* reveal aside */
.overlay.expanded aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

button.reset {
  font-size: inherit;
  background: inherit;
  border: 0;
}

button.reset > * {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: 0 1rem;
  background: #fff;
}

.header-menu-mobile-toggle {
  @media (width >= 48em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;

  @media (width >= 45em) {
    display: flex;
    grid-gap: 1rem;
    margin-left: 3rem;
  }
}

.header-menu-item {
  cursor: pointer;
}

.header-ctas {
  display: flex;
  grid-gap: 1rem;
  align-items: center;
  margin-left: auto;
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  margin-top: auto;
  background: var(--color-dark);
}

.footer-menu {
  display: flex;
  grid-gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.footer-menu a {
  color: var(--color-light);
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  width: auto;
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  display: block;
  height: 100%;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  position: absolute;
  bottom: 0;
  width: calc(var(--aside-width) - 40px);
  padding-top: 0.75rem;
  background: white;
  border-top: 1px solid var(--color-dark);
}

.cart-line-quantity {
  display: flex;
}

.cart-discount {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}

.cart-subtotal {
  display: flex;
  align-items: center;
}

/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  position: sticky;
  top: 0;
  background: var(--color-light);
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  display: flex;
  align-items: center;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  gap: 1rem;
  align-items: center;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  position: relative;
  display: block;
  margin-bottom: 2rem;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;

  @media (width >= 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;

  @media (width >= 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  grid-gap: 1.5rem;
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  max-width: 95%;
  margin-bottom: 1rem;

  @media (width >= 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  grid-gap: 1.5rem;
  margin-bottom: 2rem;
}

.product-item img {
  width: 100%;
  height: auto;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;

  @media (width >= 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-main {
  position: sticky;
  top: 6rem;
  align-self: start;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  grid-gap: 1.5rem;
  margin-bottom: 2rem;
}

.blog-article-image {
  display: block;
  aspect-ratio: 3/2;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  width: 100%;
  height: auto;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}

.predictive-search-result-item a img {
  height: 100%;
  margin-right: 0.75rem;
}
